* {
    min-width: 0px;
    margin: 0.2rem;
}
button {
    margin: 0px;
}
body {
    width: 96vw;
    height: 96vh;
    display: flex;
    flex-direction: column;
    margin: 1vh 1vw;
}
.box {
    height: 5rem;
    width: 5rem;
    margin: 1rem;
}
